.banner-principal__row .banner-principal__img
  img
    max-height: 500px;
    object-fit: contain;

.banner-interno__fondo
  background-image: none!important;
  background-color: none;
  background: rgb(89,193,241)!important;
  background: linear-gradient(180deg, rgba(89,193,241,1) 0%, rgba(53,154,222,1) 35%, rgba(10,110,202,1) 100%)!important;

.titulo-principal__numero
  background-color: $color-acento-botones;