.banner-principal__row .banner-principal__img
  img
    max-height: 500px;
    object-fit: contain;

.banner-interno__fondo
  background-image: none!important;
  background-color: none;
  background: rgb(89,193,241)!important;
  background: linear-gradient(180deg, rgba(89,193,241,1) 0%, rgba(53,154,222,1) 35%, rgba(10,110,202,1) 100%)!important;

.titulo-principal__numero
  background-color: $color-acento-botones;

.tarjeta.color-primario--borde.color-primario
  background-color: #E7F5FD

.tabs-a__tab
  background-color: #EBEBEB

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  color: white!important
  &:hover
    color: white!important

.box-rounded
  border-radius: 18px
  background: #F8E5E2
  &.soft
    background: #FCF1F0
  
.bloque-texto-g 
  justify-content: flex-start
  z-index: 1
.bloque-texto-g__img
  left: inherit
  right: 0

.tarjeta-avatar
  padding-top: 50px
  img
    width: 100px
  .tarjeta.color-acento-contenido
    background-color: transparent;
    border: 2px solid
    border-radius: 15px
    &.principal
      border-color: #DB6E5F
    &.secundario
      border-color: #DBBE36

.tarjeta-flip__img.especial
  border-bottom-left-radius: 0!important
  border-bottom-right-radius: 0!important
  .div-title
    position: absolute
    bottom: 0
    right: 0
    left: 0
    font-weight: 600
    font-size: 14px

.flipper-especial
  position: relative
  border-bottom-left-radius: 0!important
  border-bottom-right-radius: 0!important
  div
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0.76
  p
    position: relative
    font-size: 13px
    vertical-align: middle
    